node_modules
.next
.env
.env.local
.env.production
.env.development
prisma/dev.db
prisma/dev.db-journal
*.log
.DS_Store
.vercel
.netlify
dist
build
.turbo
*.tsbuildinfo
.vscode
.idea
coverage
.cache
neeraj sharma profile/

/public/DESIGN DIALECT- ARCHITECT'S JOURNAL-VOL 09.gif
